/*Footer MAIN style*/
#footer {
  height: auto;
  background: $footerbg;

  @media (min-width: $screen-md-min) {
    height: 271px;
  }

  .navbar {
    margin-bottom: 0;
  }

  .pcMenu {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 810px;
    margin-top: 50px;
    margin-bottom: 50px;

    .menu-item {
      position: relative;

      &:after {
        content: '';
        display: block;
        right: -42px;
        top: -1px;
        position: absolute;
        width: 2px;
        height: 18px;
        background: $white;
      }

      a {
        color: $white;
      }
    }

    .menu-item:last-child {
      &:after {
        display: none;
      }
    }
  }

  .socialUl {
    margin: 0;
    padding: 0;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;

    @media (min-width: $screen-md-min) {
      width: 569px;
    }

    .socialItem {
      display: inline-block;
      vertical-align: top;
      list-style-type: none;
      width: 50px;
      height: 50px;
      background-size: contain;
      background-repeat: no-repeat;
      margin: 10px;
      border:1px solid $white;
      border-radius: 50%;
      margin: 0px 30px;
    }

    .pinterest {
      background-image:url("../img/pinterest.png");
    }

    .facebook {
      background-image:url("../img/2x/facebook@2x.png");
    }

    .insta {
      background-image:url("../img/2x/insta@2x.png");
    }

    .linkdin {
      background-image:url("../img/2x/linkdin@2x.png");
    }

    .youtube {
      background-image:url("../img/2x/youtube@2x.png");
    }
  }

  .logoFooter {
    background-image: url('../img/logoFooter.png');
    width: 197px;
    height: 34px;
    margin: auto;
    display: block;
  }
}