/*Header MAIN style*/
.header {
  background-image: url("../img/about.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  min-height: 640px;

  .header-top {

    .menuButton {
      display: inline-block;
      vertical-align:top;
      //background: red;
      width: 100%;
      max-width: 30px;
      min-height: 30px;

      li {
        width: 30px;
        height: 2px;
        background: $menutopcolor;
        padding-bottom: 8px;
        display: inline-block;
      }

      &:last-child {
        padding-bottom: 0;
      }

    }

    .logo {
      background: url("../img/logo.png");
      background-repeat: no-repeat;
      width: 175px;
      height: 40px;
      background-size: contain;
      display: inline-block;
    }

    .menuTop {

      .menu-item {
        display: inline-block;
        vertical-align: top;

        a {
          text-decoration: none;
          color:$menutopcolor;
          font-size: 16px;
          font-family: 'Ubuntu';
        }
      }
    }

  }


}
